<form (ngSubmit) ="onSubmit()"  [formGroup] ="form" class ="editForm">
    <br/> <br/>
    <div class="form-group">
     <input type="text" class="form-control" 
     [ngClass] ="{'error':isValid('userName')}"
     placeholder="User Name" formControlName="userName" style="width:350px;">
    </div>
     <div class="form-group">
     <input type="text" class="form-control" 
     [ngClass] ="{'error':isValid('firstName')}"
     placeholder="First Name" formControlName="firstName" style="width:350px;">
    </div>
     <div class="form-group">
     <input type="text" class="form-control" 
     [ngClass] ="{'error':isValid('lastName')}"
     placeholder="Last Name" formControlName="lastName" style="width:350px;">
    </div>
    <div class="form-group">
     <input type="text" class="form-control" 
     [ngClass] ="{'error':isValid('email')}"
     placeholder="Email" formControlName="email" style="width:350px;">
    </div>
     <div class="form-group">
     <input type="text" class="form-control" 
     [ngClass] ="{'error':isValid('password')}"
     placeholder="Password" formControlName="password" style="width:350px;">
    </div>
     <div class="form-group">
     <input type="text" class="form-control" 
     [ngClass] ="{'error':isValid('confirmPassword')}"
     placeholder="Confirm Password" formControlName="confirmPassword" style="width:350px;">
    </div>
    <br/>
    <span *ngIf="form.errors?.mismatchedFields">Passwordler uyuşmuyor</span>
    <br/>
    <button btn btn-primary>Register</button>
 
 </form>    